# Default values for cert-manager-webhook-etcd
# This is a YAML-formatted file.

# The GroupName here is used to identify your company or business unit that
# created this webhook.
# For example, this may be "acme.mycompany.com".
# This name will need to be referenced in each Issuer's `webhook` stanza to
# inform cert-manager of where to send ChallengePayload resources in order to
# solve the DNS01 challenge.
# This group name should be **unique**, hence using your own company's domain
# here is recommended.
groupName: acme.example.com

certManager:
  namespace: cert-manager
  serviceAccountName: cert-manager

image:
  repository: cert-manager-webhook-etcd
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 443

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

# Webhook configuration
webhook:
  # Number of replicas
  replicaCount: 1
  
  # Timeout for webhook calls
  timeoutSeconds: 30

# etcd configuration (used in Issuer/ClusterIssuer config)
etcd:
  # Example endpoints - these should be configured in your Issuer
  endpoints:
    - "http://etcd:2379"
  # Prefix for DNS records
  prefix: "/skydns"
  # Dial timeout in seconds
  dialTimeout: 10

# TLS certificates for the webhook
# cert-manager will automatically provision these
tls:
  # The duration of the webhook serving certificate
  duration: 8760h # 1 year
  # The CA certificate duration
  caDuration: 43800h # 5 years
